<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="create_2">
  <xacro:arg name="prefix" default="create" />

  <!-- ========= -->
  <!--  Include  -->
  <!-- ========= -->
  <!-- URDF -->
  <xacro:include filename="$(find create_hardware)/urdf/create_base.urdf.xacro" />
  <!-- ros2_control -->
  <xacro:include filename="$(find create_hardware)/ros2_control/create.ros2_control.xacro" />

  <!-- ============= -->
  <!--  Description  -->
  <!-- ============= -->
  <xacro:create_base wheel_separation="0.235" base_diameter="0.3485">
    <mesh filename="package://create_hardware/meshes/create_2.dae"/>
  </xacro:create_base>

  <!-- ============== -->
  <!--  ros2 control  -->
  <!-- ============== -->
  <xacro:create_ros2_control name="create" prefix="$(arg prefix)"/>

</robot>
